<h1>AJAX loading</h1>
    <p>This is the code I created when learning jQuery at <a href="http://jquery-part2.codeschool.com/">http://jquery-part2.codeschool.com/</a></p>

    <div id="all-tours" class="links">
      <h1>Guided Tours</h1>
      <ul>
        <li class="confirmation" data-discount="199">
          <h2>New York, New York</h2>
          <p><span class="details">$1,899 for 7 nights</span></p>
          <button>See comments</button>
          <ul class="comments">

          </ul>
        </li>
        <li class="tour usa" data-discount="199">
          <h2>New York, New York</h2>
          <span class="details">$1,899 for 7 nights</span>
          <p><a href="#" class="expand">See comments</a></p>
          <ul class="comments">
            <li><span>Comment 1</span></li>
            <li><span>Comment 2</span></li>
            <li><span>Comment 3</span></li>
          </ul>
        </li>

      </ul>
    </div>
